<style>
  #themes_preview-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    background: rgba(255,255,255,0.95);
    z-index: 10000;
    box-shadow: 0 0 1px 0 rgba(16,16,32,0.25), 0 0 2px 0 rgba(0,0,0,0.15);
    height: 3.75em;
    transition: top 0.25s ease-in-out;
    font-size: 0.9em;
    z-index: 10000;
    cursor: default;
  }
</style>

<header id="themes_preview-header"></div>
